QQ_SMTP_HOST=smtp.qq.com
QQ_SMTP_PORT=465
QQ_SMTP_SSL=true
QQ_SMTP_USER=13827420406@qq.com
QQ_SMTP_PASS=replace-with-qq-mail-smtp-authorization-code
MAIL_TO=13827420406@qq.com
TIMEZONE=Asia/Shanghai

